@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


  body {
    margin: 0;
    font-family: 'Inter', serif;
  }

  .container {
    display: flex;
    height: 800px;
  }

  .left {
    background-color: #0353A4;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: 1px;
    color: #B9D6F2;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 30px; 
    
  }

  p {
    font-size: 17.6px; 
    max-width: 500px;
    color: #EEC643;
  }

  .btn {
    background-color: #261E77;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 32px;
    font-size: 16px; 
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    width: 50%;
    align-items: center;
    text-align: center;
    display: block;
    margin: 100px auto;
  }

  .btn:hover {
    background-color: #e69324;
  }

  .right {
    flex: 50%;
    background: url() no-repeat center center;
    background-size: cover;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .right {
      height: 400px; 
    }
  }

  .fade-text {
    transition: opacity 0.5s ease-in-out;
}