
:root {
  --font-sans: var(--font-RethinkSans); /* fallback setup */
}

body {
  font-family: var(--font-RethinkSans);
  background-color: #2541B2
}

.warning {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    display: none;
  }
  .warning {
    display: block;
  }
}


