/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2541B2;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.warning {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    display: none;
  }
  .warning {
    display: block;
  }
}

/* Result Container */
.result-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin: 8px 0;
}

strong {
  font-weight: bold;
}

.prediction-message {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.prediction-message p {
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #333;
  text-transform: capitalize;
  margin: 0;
}

.prediction-message span {
  font-size: 24px;
}

.prediction-image {
  margin-top: 20px;
  font-size: 30px;
}

.prediction-image span {
  font-size: 40px;
  margin-top: 20px;
}

.result-container img {
  width: 200px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

/* Adding Background to Prediction Result */
.prediction-message.Survived {
  background-color: #e0ffe0;
  color: #4caf50;
}

.prediction-message.NotSurvived {
  background-color: #ffe0e0;
  color: #f44336;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .result-container {
    padding: 20px;
    margin-top: 30px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .prediction-message {
    font-size: 18px;
  }

  .prediction-image {
    font-size: 28px;
  }
}
